@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

body {
  font-family: "Chakra Petch", sans-serif;
}

@keyframes tacticalCorner {
  0% {
    opacity: 0.4;
    transform: scale(1);
    filter: drop-shadow(0 0 0px #7C8761);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
    filter: drop-shadow(0 0 8px #7C8761);
  }

  100% {
    opacity: 0.4;
    transform: scale(1);
    filter: drop-shadow(0 0 0px #7C8761);
  }
}

.tactical-corner {
  animation: tacticalCorner 2s ease-in-out infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.tactical-swiper .swiper-button-prev,
.tactical-swiper .swiper-button-next {
  width: 70px;
  height: 70px;
  background: #7b9461;
  color: #fff;
}

.tactical-swiper .swiper-button-prev:after,
.tactical-swiper .swiper-button-next:after {
  font-size: 28px;
  font-weight: 700;
}

.tactical-swiper .swiper-button-prev {
  left: 0;
}

.tactical-swiper .swiper-button-next {
  right: 0;
}